body{
    box-sizing: border-box;
}


.container{
    max-width: 1320px;
    margin: 0;
    padding: 0 80px;
}


.header__title{
    text-align: center;
}

.header__form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__desc{
    font-size: 16px;
}

.header__input{
    margin: 0 12px 0 12px;
    border-radius: 5px;
}

.header__span{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    margin-bottom: 20px;
}

.header-error {
    display: inline-block;
    margin: 20px auto;
    padding: 10px;
    color: red;
    border: 2px solid red;
  }
  
  .header-success {
    display: inline-block;
    margin: 20px auto;
    padding: 10px;
    color: green;
    border: 2px solid green;
  
  }

.box__img{
    width: 45px;
    height: 45px;
}

.box__content{
    flex-wrap: wrap;
    border: 1px solid;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box__content{
    width: 200px;
    border-radius: 10px;
}

.box__content + .box__content{
 margin-left: 50px;
}

.box__window{
    padding: 10px 60px;
    text-align: center;
}